/* .h-fix {
  height: 100%;
  overflow: hidden;
} */
* {
  margin: 0 0;
  padding: 0 0;
}
body {
  background-image: url("images/bg.jpg");
  background-size: cover;
  font-family: helvetica, sans-serif;
  padding: 1% 20% 5%;
  backdrop-filter: brightness(0.4);
}
nav {
  display: flex;
  /* flex-grow: 1; */
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 87%;
  margin-right: auto;
  margin-left: auto;
}
h1 {
  display: flex;
  font-weight: normal;
  font-size: 18px;
  margin: 5% 0%;
}
h2 {
  font-size: 1.5em;
  font-weight: lighter;
  margin: 2% 0%;
}
header {
  display: flex;
  justify-content: flex-end;
  margin: 1% auto 1%;
  width: 85%;
}
header span {
  margin-right: 8%;
  margin-top: 2%;
  color: #fff;
  font-weight: lighter;
}
footer {
  background-color: #fff;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 85%;
  margin: 0% auto 5%;
  box-shadow: 0px 3px grey;
  height: 300px;
  /* grid-template-rows: auto; */
}
/* footer div {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin: 3% 5%;
} */
footer div p {
  font-size: 12px;
}
form {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin: 0% 3%;
  padding: 5% 0%;
  /* flex-flow: row wrap;
  justify-content: center; */
}
textarea::placeholder {
  font-size: 12px;
  color: #bababa;
  font-family: sans-serif, Helvetica;
  text-transform: uppercase;
}
input::placeholder {
  font-size: 12px;
  color: #bababa;
  font-family: sans-serif, Helvetica;
  text-transform: uppercase;
}
textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: fit-content;
  font-size: 12px;
  margin: 5% 0%;
  padding: 2%;
  resize: none;
  box-shadow: 3px 3px 3px grey inset;
  font-family: helvetica, sans-serif;
}
div p {
  display: flex;
  font-size: 10px;
  margin: 1% 0%;
  line-height: 190%;
  overflow: hidden;
}
input {
  height: 40%;
  padding: 1.5% 2%;
  margin: 3% 0%;
  min-width: 100%;
  box-shadow: 0.5px 0.5px 5px grey inset;
}
button {
  width: 65%;
  height: 100%;
  padding: 1.5% 0%;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-left: 40%;
  font-size: 12px;
  background-color: #a73634;
  font-weight: lighter;
  color: #fff;
  border: none;
}
svg {
  height: 2px;
  width: 7%;
}
rect {
  width: 100%;
  height: 100%;
  fill: #fff;
}
#sbsGrid {
  display: grid;
  align-items: center;
  /* grid-template-columns: 1fr 1fr 1fr; */
  column-gap: 1%;
  row-gap: 18%;
  margin: 0% auto;
  width: 85%;
  grid-template-areas:
    "lance lance rodney rodney tommy tommy"
    "lance lance rodney rodney tommy tommy"
    "steve steve steve steve tommy tommy"
    "steve steve steve steve tommy tommy";
}
#headerImage {
  display: flex;
  background-image: url("images/top-image.png");
  /* backdrop-filter: opacity(0.5 0); */
  /* opacity: 0.2, 0; */
  background-position: center;
  background-size: 140%;
  height: 75%;
  width: 83%;
  margin: 0 auto;
  border: #fff 8px solid;
  box-shadow: 0px 5px grey;
  background-position-x: 35%;
  background-position-y: 27%;
  /* object-fit: cover; */
}
#logo {
  height: 10%;
  position: absolute;
  transform: translateY(40px) translateX(15px);
}
#gridImage {
  opacity: 0.5;
  min-width: -webkit-fill-available;
  object-fit: none;
}
#articles {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
}
#lanceM {
  min-height: 100px;
  grid-area: lance;
  background-image: url("images/sk8er-4.png");
  background-size: cover;
  background-position: right;
  /* background-color: green; */
}
#rodneyM {
  min-height: 100px;
  grid-area: rodney;
  background-image: url("images/sk8er-3.png");
  background-size: cover;
  background-position: initial;
  /* background-color: red; */
}
#steveC {
  min-height: 100px;
  grid-area: steve;
  background-image: url("images/sk8er-1.png");
  background-size: cover;
  background-position: center;
  height: 110%;
  /* background-color: pink; */
}
#tommyG {
  min-height: 100px;
  grid-area: tommy;
  background-image: url("images/sk8er-2.png");
  background-size: cover;
  background-position: center;
  background-position-x: 80%;
  height: 107%;
  margin-top: -2.5%;
  max-height: 110%;
  /* background-color: blue; */
}
#skateboardsContainer {
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  /* grid-auto-flow: row dense; */
  /* grid-auto-columns: 10%; */
  margin: 20% auto 5%;
  width: 85%;
  height: 210px;
  box-shadow: 0px 3px grey;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  /* grid-template-rows: 1fr; */
  /* grid-auto-columns: 1fr; */
}
#fb1 {
  color: #475993;
}
#rss1 {
  color: #c49145;
}
#twit1 {
  color: #708dc2;
}
#yt1 {
  color: #a54134;
}
#fb2 {
  color: #475993;
}
#rss2 {
  color: #c49145;
}
#twit2 {
  color: #708dc2;
}
#yt2 {
  color: #a54134;
}
.headIcon {
  font-size: 45px;
  margin: 0% 0.5%;
  background: grey;
  max-height: 41px;
}
.footer1 {
  display: flex;
  flex-flow: column;
  /* justify-content: space-around; */
  margin: 3% 5%;
}
.footer2 {
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  margin: 0% 4%;
}
/* .iconContainer {
} */
.footerIcon {
  font-size: 130%;
  margin: 3% auto;
}
.skateboards {
  width: 6%;
  margin: 1% 1%;
  /* display: grid; */
  /* height: auto; */
  /* width: 10%; */
}
.skateboarders {
  background-size: cover;
  background-position: bottom;
  /* background-repeat: no-repeat; */
  /* width: 90%; */
  height: 120%;
  border: #fff solid 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px grey;
}
.sbNames {
  color: #fff;
  font-size: 40px;
  font-weight: bolder;
  width: min-content;
  text-align: center;
}
.sbNames2 {
  color: #fff;
  font-size: 40px;
  font-weight: bolder;
  /* width: min-content; */
  /* text-align: center; */
}
.articleBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 27%;
  height: 245px;
  /* margin: 0% 0%; */
  padding: 1% 2.75%;
  background: #fff;
  box-shadow: 0px 5px grey;
}
.readMore {
  margin: 15% auto 0%;
  color: #a44138;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}
.date {
  display: flex;
  font-size: 11px;
  margin: 6% 0%;
  font-weight: lighter;
}
.navBox {
  display: flex;
  text-transform: uppercase;
  justify-content: space-around;
  align-items: center;
  padding: 1% 0%;
  margin: 0% 1%;
  font-size: 12px;
  height: 10%;
  width: 25%;
  background-color: #a73634;
  color: #fefffe;
  box-shadow: 0px 5px grey;
  font-weight: lighter;
  /* flex-grow: 1; */
}
.imageContainer {
  display: flex;
  /* justify-content: center; */
  height: 350px;
  margin: -2% 0%;
  align-items: center;
}
