/* .h-fix {
  height: 100%;
  overflow: hidden;
} */
* {
  margin: 0 0;
  padding: 0 0;
}
body {
  background-image: url("images/bg.jpg");
  background-size: cover;
  font-family: helvetica, sans-serif;
  padding: 0% 20%;
  /* backdrop-filter: brightness(0.5); */
}
nav {
  display: flex;
  /* flex-grow: 1; */
  flex-wrap: nowrap;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}
h1 {
  display: flex;
  font-weight: lighter;
  font-size: 15px;
  margin: 2% 0%;
  font-weight: normal;
}
div p {
  display: flex;
  font-size: 10px;
  margin: 1% 0%;
  line-height: 190%;
}
#skateboarders {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */

  grid-template-areas:
    "lance lance rodney rodney tommy tommy"
    "lance lance rodney rodney tommy tommy"
    "steve steve steve steve tommy tommy"
    "steve steve steve steve tommy tommy";
}
#headerImage {
  display: flex;
  background-image: url("images/grid.png"), url("images/top-image.png");
  /* backdrop-filter: opacity(0.5 0); */
  /* opacity: 0.2, 0; */
  background-position: center;
  background-size: cover;
  height: 75%;
  width: 75%;
  margin: 0 auto;
  /* object-fit: cover; */
}
#articles {
  display: inline-flex;
  justify-content: center;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}
#lanceM {
  min-height: 100px;
  grid-area: lance;
  background-image: url("images/sk8er-4.png");
  background-size: cover;
  background-position: center;
  /* background-color: green; */
}
#rodneyM {
  min-height: 100px;
  grid-area: rodney;
  background-image: url("images/sk8er-3.png");
  background-size: cover;
  background-position: center;
  /* background-color: red; */
}
#steveC {
  min-height: 100px;
  grid-area: steve;
  background-image: url("images/sk8er-1.png");
  background-size: cover;
  background-position: center;
  /* background-color: pink; */
}
#tommyG {
  min-height: 100px;
  grid-area: tommy;
  background-image: url("images/sk8er-2.png");
  background-size: cover;
  background-position: center;
  /* background-color: blue; */
}
.articleBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 22%;
  margin: 0% 1%;
  padding: 1% 4%;
  background: #fff;
}
.date {
  display: flex;
  font-size: 11px;
  margin: 3% 0%;
  font-weight: lighter;
}
.navBox {
  display: flex;
  text-transform: uppercase;
  font-weight: lighter;
  justify-content: center;
  padding: 1% 0%;
  margin: 0% 1%;
  font-size: 12px;
  height: 10%;
  width: 25%;
  background-color: #a73634;
  color: #fefffe;
  /* flex-grow: 1; */
}
.imageContainer {
  display: flex;
  /* justify-content: center; */
  height: 300px;
  margin: -2% 0%;
  align-items: center;
}
